<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button id="pizza-button" class="btn btn-default" type="button">Submit</button>
      </span>
      <input id = "pizza-namer" type="text" class="form-control" placeholder="Pizza Name...">
      <input id = "pizza-ingr" type="text" class="form-control" placeholder="Ingredients...">
      <input id = "pizza-type" type="text" class="form-control" placeholder="Type of Pizza...">
      <input id = "pizza-nuts" type="text" class="form-control" placeholder="Has Nuts ( true or false)...">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>
