<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Submit</button>
      </span>
      <input type="text" class="form-control" placeholder="Your Text Here...">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
